/* ReviewsPage.css */


.reviews-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  text-align: center;
  min-height: 90vh;
  margin-top: 10%;
  font-family: 'REM', sans-serif;
}

.reviews-page .reviews-link {
  display: flex;
  margin: 10px 0;
  text-decoration: none;
  color: chocolate;
  font-weight: bold;
  padding: 10px 20px;
  border: 1px solid #333;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  height: 80px;
  background-color: black;
  font-family: 'REM', sans-serif;
  
}

.reviews-page .reviews-link:hover {
  background-color: chocolate;
  color: black;
}
.reviews-page .text-t{
  font-family: 'REM', sans-serif;
}