@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: dimgray;

  
  @media (max-width: 768px) {
    .container {
      width: 100%;
      padding: 10px;
    }
  }
  
  /* CSS pour les téléphones mobiles */
  @media (max-width: 480px) {
    .container {
      width: 100%;
      padding: 5px;
    }
  }
}
