
  @import url('https://fonts.googleapis.com/css2?family=REM:ital,wght@1,300&display=swap');

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  color: aliceblue;
  min-height: 90vh;
  font-family: 'REM', sans-serif;
}

.home-page .profile-pic {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.home-page .profile-pic:hover {
  animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.home-page .intro {
  font-size: 2.5em;
  color: chocolate;
  margin: 20px 0;
  background-color: black;
    font-family: 'REM', sans-serif;
}

.skills {
  border: 1px solid black;
  width: 80%;
  padding: 10px;
  margin: 10px;
  font-family: 'REM', sans-serif;
}

.home-page .skills {
  font-size: 1.2em;
  line-height: 1.6em;
  color: chocolate;
  margin-bottom: 20px;
  background-color: black;
  font-family: 'REM', sans-serif;
}

@media only screen and (max-width: 720px) {
  .skills {
    width: 90%;
  }
}
