.ProjectPage .project-link {
  display: flex;
  margin: 10px 0;
  text-decoration: none;
  color: chocolate;
  font-weight: bold;
  padding: 10px 20px;
  border: 1px solid #333;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  height: 60px;
  background-color: black;
  font-family: 'REM', sans-serif;
}

.ProjectPage .project-link:hover {
  background-color: chocolate;
  color: black;
 
}
.ProjectPage {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  align-items: center;
  height: fit-content;
  text-align: center;
  font-family: 'REM', sans-serif;
}
.text{
  font-family: 'REM', sans-serif;
  margin-top: 5%;
  margin-bottom: 15px;
  font-size: 50px;
}