@import url('https://fonts.googleapis.com/css2?family=REM:ital,wght@1,300&display=swap');

.footer {
  width: 100%;
  background-color: black;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  bottom: 0;
}

.footer a {
  color: chocolate;
  margin: 0 15px;
  text-decoration: none;
  font-family: 'REM', sans-serif;
}

.footer a:hover {
  color: #ddd;
}
