.set-reviews-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 90vh;

}

.set-reviews-input {
  width: 40%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px 0;
  resize: none;
  color: aliceblue;
  background-color: black;
  font-family: 'REM', sans-serif;
}
.set-reviews-input-avis{
  width: 40%;
  height: 150px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px 0;
  resize: none;
  color: aliceblue;
  background-color: black;
  font-family: 'REM', sans-serif;
}
.set-reviews-button {
  background-color: chocolate;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
  font-family: 'REM', sans-serif;
}
.text-avis{
  margin-bottom: 25px;
  margin-top: 20%;
  font-family: 'REM', sans-serif;
}